      <nav class="navbar">
        <div class="brand">
        <img src="../assets/logo.png" alt="" width="50px" heigh="50px">
        <div class="brand-title"><a href="../index.html">C.Cantin</a> </div>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/tarifsEtPrestations">Tarifs et prestations</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="navbar-social">
          <img src="assets/icons8-facebook-96dark.png" alt="" width="40px" heigh="40px">
          <img src="assets/icons8-instagram-96dark.png" alt="" width="40px" heigh="40px">
        </div>
      </nav>
