 <header >
    <h1>MON HEADER </h1>
    <img src="../assets/logo.png" alt="" width="50" height="50">
    <h1>C.CANTIN</h1>
    <nav>
        <ul>
            <li>Galerie</li>
            <li>
                <a href="../tarifsEtPrestations.njk">tarifs</a>
            </li>
            <li>Contact</li>
        </ul>
    </nav>
 </header>