@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;;
}

body, html {
    max-width: 1900px;
    margin: 0px;
    padding: 0px;
}


/* NAVBAR */

.brand {
    display: flex;

}

.navbar {

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #47555e9f;
    color: white;
    padding: 10px 10px;
}

.brand-title {
    font-size: 1.5rem;
    padding: .5rem;
    margin-left: 20px;
    
}
.brand-title a {
    color: rgb(255, 255, 255);
    text-decoration:none     

}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgba(85, 85, 85, 0.616);
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/*FOOTER*/

.footer {
    padding: 10px 10px;
    background-color: #47555e9f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}



/* ACCUEIL */

.home-bg {
    background-image: url('./assets/paraplui.jpg');
    background-color: rgba(0, 0, 0, 0.918);
    background-blend-mode: screen;
    background-position: right -500px bottom 0px;
    background-repeat: no-repeat;

}

.callToAction {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.callToAction h1 {
    font-size: 2.5rem;
    margin-bottom: -15px;

}

.callToAction p {
    font-size: 1.5rem;

}

.btn-galerie {
    border-style: none;
    color: white;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.5rem;
    background: rgba(71, 85, 94, 1);
    border-radius: 2px;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);

}

/*GALERIE*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.photo {
    
    height: 474px;
    width: 316px;
    margin: 10px 10px;
    
}



.category ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;

}

.category ul li {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;


}

.category ul li:hover {
    background: gray;
    color: white;
    box-shadow: 1px 0px 15px 1px rgba(117, 117, 117, 0.082);

}

/*n'affiche pas image si pas d'image*/

.photo[src=""] {
    display: none;
    height: 0px;
    width: 0px;
}


/* TARIFS ET PRESTATIONS */

.serviceContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center ;
}

.serviceTitle {
    display: flex;
    justify-content: center;
}

.service {

    width: 316px;
    height: 228px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7A8D9B ;
}