---

title: ma page d'accueil ! 
layout: 'base.njk'

---

<body  class="home-bg" >
<div class="callToAction">
    <h1>Charles CANTIN</h1>
    <p>Photographe</p>
<button class="btn-galerie"><a href="/galerie">Galerie</a></button>
</div>
</body>

