---

title: Accueil 
layout: 'base.njk'
backgroundClass : indexBg

---


<div class="callToAction">
    <h1 class="hello">Charles CANTIN</h1>
    <p>Photographe</p>
<button class="btn-galerie"><a href="/galerie">Galerie</a></button>
</div>

