---

title: Accueil 
metaDescription : Charles CANTIN , artiste et Photographe, peut vous accompagne dans vos évènements les plus importants de votre vie.
layout: 'base.njk'
backgroundClass : indexBg

---


<div class="callToAction">
    <h1 class="hello">Charles CANTIN</h1>
    <p>Photographe</p>
<button class="btn-galerie"><a href="/galerie">Galerie</a></button>
</div>

