@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    ;
}

body,
html {
    margin: 0px;
    padding: 0px;
}


/***************NAVBAR**********************/

.brand {
    display: flex;
}

.navbar {

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #47555e85;
    color: white;
    padding: 10px 10px;
}

.brand-title {
    font-size: 1.5rem;
    padding: .5rem;
    margin-left: 20px;

}

.brand-title a {
    color: rgb(255, 255, 255);
    text-decoration: none
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

.navbar-links li a:hover {
    background-color: rgba(85, 85, 85, 0.616);
}

.navbar-social.active {
    display: initial;
}

.navbar-social {
    display: none
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/******************FOOTER****************/

footer {
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.616);
    color: white;
}



/*************ACCUEIL*******************/




.Accueil-indexBg {
    background-image: url('./assets/seul-1.jpg');
    background-repeat: no-repeat;
    background-position: top 60% right 26%;

}

.callToAction {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.callToAction h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;

}

.callToAction p {
    font-size: 1.5rem;
    margin-top: 15px;

}

.btn-galerie {
    border-style: none;
    color: white;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.5rem;
    background: rgba(71, 85, 94, 1);
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

}

.btn-galerie a {
    text-decoration: none;
    color: inherit;
}

/*************GALERIE**************/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}

.content h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: bold;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    color: transparent;
}

.photo {

    height: 474px;
    width: 316px;
    margin: 10px 10px;

}


.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 20px;

}

.items .item {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;


}


.items .item:hover {
    background: gray;
    color: white;
    box-shadow: 1px 0px 15px 1px rgba(117, 117, 117, 0.082);

}

/*n'affiche pas image si pas d'image*/

.photo[src=""] {
    display: none;
    height: 0px;
    width: 0px;
}


/***************TARIFS ET PRESTATIONS****************/

main {
    min-height: 80vh;
}

.serviceContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 60px 10%;
}

.serviceContents .service:nth-child(1) {
    color: white;
}

.serviceContents .service:nth-child(5) {
    color: white;
}


.serviceTitle {
    display: flex;
    justify-content: center;

}

.serviceTitle h1 {
    margin-top: 60px;
    font-size: 2rem;
    font-weight: bold;
}

.service {
    width: 316px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #7A8D9B;
    padding: 10px 20px
}

.service h2 {
    font-size: 1.25rem;
}

.service p:nth-child(3) {
    font-weight: 900;
    font-size: 1.5rem;

}

/****************CONTACT******************/

.form {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.form h1 {

    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 2rem;
    font-weight: bold;

}

.form form {

    margin-top: 100px;
}

.form-group label {
    margin: 10px 0px;
    font-weight: bolder;
}

/*******************MEDIAQUERIES******************/



@media (min-width: 800px) {


    .Accueil-indexBg {

        background-repeat: no-repeat;
        background-size: cover;


    }

/*********************NAVBAR**********************/



    .navbar-social {
        display: initial;
    }

    .navbar-links a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 15px 20px;
        position: relative;

    }

    .navbar-links li a:hover {
        background-color: initial;
    }

    .navbar-links a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .navbar-links li a:hover:after {
        width: 100%;
        left: 0;
    }

/******************ACCUEIL*******************/



    .callToAction h1 {

        font-size: 4rem;
        font-weight: bolder;

    }

    .callToAction p {
        font-size: 3rem;
        font-weight: lighter;
        margin-bottom: 30px;

    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 10%;
    }


/***********************GALERIE********************/

    .items .item {
        color: black;
        text-decoration: none;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 15px 20px;
        position: relative;
    }

    .items .item:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .items .item:hover:after {
        width: 100%;
        left: 0;
    }


    .items .item:hover {
        background: initial;
        color: black;
        box-shadow: initial
    }


    .form form {
        width: 500px;


    }

/*****************TARIFS ET PRESTATIONS****************/

    .serviceContents {
        margin: 60px 15%;
    }


}